In [0]:
from pyspark.sql import SparkSession, Row
# from test_helper import Test

In [0]:
# create HDFS directory
# $ hdfs dfs -mkdir -p /user/user

In [0]:
# move txt files to it
# $ hdfs dfs -put orders.csv

In [0]:
# 
spark = SparkSession.builder.master("local").appName("orders").getOrCreate()

In [0]:
# read the csv file
orders = spark.read.format("csv").option("header", "true").load("dbfs:/FileStore/shared_uploads/michaelkennethkingston@gmail.com/orders.csv")

In [0]:
orders.take(5)

Out[5]: [Row(OrderDate='2009-04-05', ISBN='3437212490', Title='COOKING WITH MUSHROOMS', Category='COOKING', PriceEach='19.95', Quantity='1', FirstName='BONITA', LastName='MORALES', City='EASTPOINT'),
 Row(OrderDate='2009-04-05', ISBN='8843172113', Title='DATABASE IMPLEMENTATION', Category='COMPUTER', PriceEach='55.95', Quantity='1', FirstName='BONITA', LastName='MORALES', City='EASTPOINT'),
 Row(OrderDate='2009-04-01', ISBN='8843172113', Title='DATABASE IMPLEMENTATION', Category='COMPUTER', PriceEach='55.95', Quantity='1', FirstName='BONITA', LastName='MORALES', City='EASTPOINT'),
 Row(OrderDate='2009-04-01', ISBN='1059831198', Title='BODYBUILD IN 10 MINUTES A DAY', Category='FITNESS', PriceEach='30.95', Quantity='1', FirstName='BONITA', LastName='MORALES', City='EASTPOINT'),
 Row(OrderDate='2009-04-01', ISBN='3437212490', Title='COOKING WITH MUSHROOMS', Category='COOKING', PriceEach='19.95', Quantity='1', FirstName='BONITA', LastName='MORALES', City='EASTPOINT')]

In [0]:
# create a view to query
orders.createOrReplaceTempView("orders")

In [0]:
# query the view
results = spark.sql("SELECT OrderDate, count(Quantity) as qty FROM orders GROUP BY OrderDate")

In [0]:
# why isn't qty aggregating correctly?
# it looks like i need to return the query without a header
results.orderBy(results.qty.desc(), results.OrderDate.asc()).show()

+----------+---+
| OrderDate|qty|
+----------+---+
|2009-04-03|  9|
|2009-04-01|  6|
|2009-04-02|  5|
|2009-03-31|  4|
|2009-04-04|  4|
|2009-04-05|  4|
|2009-04-08|  1|
+----------+---+