In [1]:
# not sure how to do this? in SQL or python?
# from pyhive import hive

# this might be a useful link
# https://docs.databricks.com/data/data-sources/hive-tables.html

In [2]:
# create HDFS directory
# $ hdfs dfs -mkdir -p /user/user

In [3]:
# move txt files to it
# $ hdfs dfs -put orders.csv

In [4]:
%sql
CREATE TABLE walden (
    NewsDate STRING,
    Headline STRING
)
ROW FORMAT DELIMITED
FIELDS TERMINATED BY ','
LINES TERMINATED BY '\n'
STORED AS TEXTFILE;

SyntaxError: invalid syntax (1846673447.py, line 2)

In [ ]:
%sql
LOAD DATA LOCAL INPATH 'dbfs:/FileStore/shared_uploads/michaelkennethkingston@gmail.com/walden.txt' OVERWRITE INTO TABLE walden;

In [ ]:
%sql
CREATE VIEW year_terms AS SELECT substr(NewsDate, 0, 4) as year, term FROM abcnews LATERAL VIEW EXPLODE
(SPLIT(Headline, ' ')) terms AS term;

In [ ]:
%sql
SELECT year,term,count(*) AS num FROM year_terms GROUP BY year,term;

In [ ]:
%sql
CREATE VIEW termcount AS SELECT year,term,count(*) AS num FROM year_terms GROUP BY year,term;

In [ ]:
%sql
SELECT a.year, a.term FROM (select *, rank() over (ORDER BY year, num DESC, term) FROM termcount) as a;